@import "defs.scss";


body{
	overflow-y: scroll;
}
.wrap{
	display: flex;
    justify-content: center;
}
#app {
	width:100%;
	max-width: 1100px;
	font: 12px sans-serif;
//    height: 100%;
	// display: flex;
	// flex-direction: row;
	// flex-wrap: wrap;
	// justify-content: center;
	.chart{
		width: 100%;
	}
	.chartTitle{
		width: 100%;
		b, select{
			font-size: 1.8em;
		}
		select, option{
    		font-weight: bold;
		}
		.heading{
			font-size: 1.8em;
    		font-variant: small-caps;
		}
		.year, .name, .keydate{
			display: inline-block;
			padding: 0.5em;
			cursor: default;
		}
		.name:hover{
			background-color: $color-active2;
			color: white;
		}
	}
	.error .message{
		padding-top: 5em;
		font: 20px sans-serif;
		text-align: center;
	}
	.error .messagedetail{
		padding-top: 1em;
		font: 15px sans-serif;
		text-align: center;
	}
}

.chart{
	.bar{
		rect {
			fill: #607D8B;
		}
		.label1, .label2{
			fill: white;
			font: 10px sans-serif;
			writing-mode: tb;
		}
		@media screen and (min-width: $break-large) {
			.label1, .label2{
				text-anchor: middle;
				writing-mode: lr;
			}
		}
		@media screen and (max-width: $break-large) {
			.label2{
				display: none;
			}
		}
		.month {
			font: 10px sans-serif;
			text-anchor: middle;
		}
		&.selected{
			rect{
				fill: $color-active2;
			}
		}
		&:hover{
			rect{
				fill: $color-active1;
			}
		}
	}
}



.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
