.wrap{
	display: flex;
    justify-content: center;
}
#app {
	width:100%;
	max-width: 1100px;
//    height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	.chart{
		width: 100%;
	}
	.chartTitle{
		font: 15px sans-serif;
		width: 100%;
		b, select{
			font-size: 1.5em;
		}
		select{
    		font-weight: bold;
		}
	}
	.error .message{
		padding-top: 5em;
		font: 20px sans-serif;
		text-align: center;
	}
	.error .messagedetail{
		padding-top: 1em;
		font: 15px sans-serif;
		text-align: center;
	}
}

.chart{
	.bar{
		rect {
			fill: #607D8B;
		}
		.label1, .label2{
			fill: white;
			font: 10px sans-serif;
			text-anchor: middle;
		}
		.month {
			font: 10px sans-serif;
			text-anchor: middle;
		}
		&.selected{
			rect{
				fill: #FF5722;
			}
		}
		&:hover{
			rect{
				fill: #BF360C;
			}
		}
	}
}
svg.pie1 .hov{
	path{
		display: none;
		&.on{
			display: block;
		}
	}
}
.grid1, .grid2, .obecgrid{
	display: table;
	font: 11px sans-serif;
	border : 1px solid #607D8B;
	width: 50%;
	box-sizing: border-box;
	.row{
		display: table-row;
		cursor: pointer;
		div{
			display: table-cell;
		}
		&:hover{
			background-color: #FF5722;
		}
		.sum, .date, .id{
			padding-right: 1em;
			padding-left: 1em;
			text-align: right;
		}
	}
}

.obecsearch{
    width: 100%;
    text-align: center;
    padding: 1em;	
}


.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
