#app {
	width:100%;
//    height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	.chart{
		width: 100%;
	}
	.chartTitle{
		font: 15px sans-serif;
		width: 100%;
	}
	.error .message{
		padding-top: 5em;
		font: 20px sans-serif;
		text-align: center;
	}
	.error .messagedetail{
		padding-top: 1em;
		font: 15px sans-serif;
		text-align: center;
	}
}

.chart{
	.bar{
		rect {
			fill: #607D8B;
		}
		.label1, .label2{
			fill: white;
			font: 10px sans-serif;
			text-anchor: middle;
		}
		.month {
			font: 10px sans-serif;
			text-anchor: middle;
		}
		&:hover{
			rect{
				fill: #FF5722;
			}
		}
	}
}
svg.pie1 .hov{
	path{
		display: none;
		&.on{
			display: block;
		}
	}
}
.grid1, .grid2, .obecgrid{
	display: table;
	font: 11px sans-serif;
	.row{
		display: table-row;
		div{
			display: table-cell;
		}
		&:hover{
			background-color: #FF5722;
		}
		.sum, .date, .id{
			padding-right: 1em;
			padding-left: 1em;
			text-align: right;
		}
	}
}

.obecsearch{
    width: 100%;
    text-align: center;
    padding: 1em;	
}


.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
